.Header {
  @include adaptiveValue('margin-top', 55, 13);
  &:not(:last-child) {
    @include adaptiveValue('margin-bottom', 105, 97);
  }
}

.title {
  padding: rem(8) 0;
  background-color: var(--bg-color-header);
  color: var(--main-color);
  border-radius: rem(15);
  text-align: center;
  @include adaptiveValue('font-size', 96, 40);
}
