.Feedback {
  padding: rem(20) rem(15);
  color: var(--secondary-color);

  h1 {
    &:not(:last-child) {
      margin-bottom: rem(35);
    }
  }

  p {
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }
}
