.ReviewList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include adaptiveValue('row-gap', 34, 15);
}

.item {
  flex: 0 0 percent(468, 975);

  @include mobile-d {
    flex: 1 1 auto;
  }
}
